.tooltip {
  &__container {
    position: absolute;
    padding: 12px;
    margin-top: 0px;
    left: -12px;
    top: 36px;
    border-radius: 10px;
    background-color: rgb(55, 53, 53);
    color: rgb(255, 255, 255);
    font: 500 14px/1.2 "Dodo";
  }
}
